@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: rgb(249 115 22 / 0.15);
    color: rgb(24 24 27);
  }
}

[x-cloak] {
  display: none !important;
}
